@theme {
  --animate-cartoon-bounce: cartoon-bounce-y 800ms ease-in-out infinite;
  --animate-shake: shake 3s ease-in-out infinite;
  --animate-shake-once: shake 3s ease-in-out;
  --animate-shake-once-delayed: shake 3s ease-in-out 300ms;
  --animate-shake-once-delayed-1s: shake 3s ease-in-out 1s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(8deg);
  }
  10% {
    transform: rotate(-8deg);
  }
  15% {
    transform: rotate(3deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes cartoon-bounce-y {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* toast animation */

@keyframes fade-in {
  from {
    opacity: 0;
    translate: 50% 0;
  }
}

@keyframes pop-in {
  0% {
    scale: 0.98;
  }
  50% {
    scale: 1.02;
  }
}

.enter-chain {
  animation:
    fade-in 300ms ease-out,
    pop-in 150ms ease-out 300ms backwards;
}

.leave-chain {
  animation:
    pop-in 150ms ease-out forwards reverse,
    fade-in 300ms ease-out 150ms reverse;
}

/* toast animation - end */
