<trollysix-generic-header [title]="copyLegal.termsOfUse.title" />
<trollysix-generic-section-block class="relative mt-8 mb-20 block">
  <div class="prose prose-slate dark:prose-invert w-full">
    <div class="grid grid-cols-1 gap-4">
      <p>{{ copyLegal.termsOfUse.effectiveDate }}</p>
      @for (section of copyLegal.termsOfUse.sections; track section.title) {
        <h3 class="mt-4 text-2xl font-bold">{{ section.title }}</h3>
        @for (block of section.content; track $index) {
          @if (block.type === 'paragraph') {
            <p>{{ block.value }}</p>
          } @else {
            <ul class="list-inside list-disc">
              @for (item of block.items; track item) {
                <li>{{ item }}</li>
              }
            </ul>
          }
        }
      }
    </div>
  </div>
</trollysix-generic-section-block>
