<div
  class="grid grid-cols-4 gap-2 sm:grid-cols-6 md:grid-cols-7 lg:grid-cols-8 xl:grid-cols-10"
>
  @for (departure of departures$ | async; track departure.time) {
    <trollysix-departure-time-item
      [departure]="departure"
      (clickTime)="onSelectTime($event)"
    />
  }
</div>
@if ((vm$ | async)?.timetableLoading) {
  <div class="flex min-h-38 w-full items-center justify-center">
    <trollysix-spinner />
  </div>
}
@if ((departures$ | async)?.length === 0 && !(vm$ | async)?.timetableLoading) {
  <div
    class="flex w-full flex-col items-center justify-center py-4 text-center"
  >
    <p class="text-xl">No departures found.</p>
    <p class="mt-4 text-lg">
      This stop may not have any departures in the selected direction. Please
      try choosing the opposite direction.
    </p>
  </div>
}
