<section class="baseline-container pb-6 md:pb-8">
  <div class="flex flex-wrap items-center justify-start gap-3">
    @if (canFind()) {
      <button
        (click)="onFindStop()"
        aria-label="Find closest stop"
        trollysixBtn="primary"
        trollysixTooltip="Find closest stop based on your location"
        trollysixTooltipPlacement="top"
      >
        <span>Find closest stop</span>
        <svg
          icon="map-pinned"
          class="size-4"
          stroke="currentColor"
          stroke-width="2"
        ></svg>
      </button>
    }
    @if (canShare()) {
      <button (click)="onShare()" trollysixBtn="primary">
        <span>Share</span>
        <svg
          icon="share"
          class="size-4"
          stroke="currentColor"
          stroke-width="2"
        ></svg>
      </button>
    }
  </div>
</section>
