<section class="baseline-container">
  <div class="flex flex-wrap items-center justify-start gap-3">
    @if (canFind()) {
      <button
        (click)="onFindStop()"
        [attr.aria-label]="copySchedule.stopToolbar.findClosestStop"
        trollysixBtn="primary"
        [trollysixTooltip]="copySchedule.stopToolbar.findClosestStopTooltip"
        trollysixTooltipPlacement="top"
      >
        <span>{{ copySchedule.stopToolbar.findClosestStop }}</span>
        <svg
          icon="map-pinned"
          class="size-4"
          stroke="currentColor"
          stroke-width="2"
          aria-hidden="true"
          focusable="false"
        ></svg>
      </button>
    }
    @if (canShare()) {
      <button (click)="onShare()" trollysixBtn="primary">
        <span>{{ copySchedule.stopToolbar.share }}</span>
        <svg
          icon="share"
          class="size-4"
          stroke="currentColor"
          stroke-width="2"
          aria-hidden="true"
          focusable="false"
        ></svg>
      </button>
    }
  </div>
</section>
