<section class="baseline-container pb-6 md:pb-8">
  <div class="flex flex-wrap items-center justify-start gap-3">
    @if (geolocation.isGeolocationAvailable()) {
      <button (click)="onFindStop()" appBtn="primary">
        <span>Find closest stop</span>
        <svg
          icon="map-pinned"
          width="20"
          height="20"
          stroke="currentColor"
          stroke-width="2"
        ></svg>
      </button>
    }
    @if (showShareButton()) {
      <button (click)="onCopy()" appBtn="primary">
        <span>Share</span>
        <svg
          icon="share"
          width="20"
          height="20"
          stroke="currentColor"
          stroke-width="2"
        ></svg>
      </button>
    }
  </div>
</section>
