<div class="baseline-container relative py-6">
  <div
    class="flex flex-col items-center justify-between gap-3 text-sm sm:flex-row"
  >
    <div>
      © 2024-{{ currentYear }} TrollySix. {{ copyFooter.rightsReserved }}
    </div>
    @if (showStaticLinks()) {
      <div>
        <ul class="flex gap-3">
          <li>
            <a class="hover:underline" [routerLink]="AppRouteEnum.PrivacyPolicy"
              >{{ copyFooter.privacyPolicy }}</a
            >
          </li>
          <li>
            <a class="hover:underline" [routerLink]="AppRouteEnum.TermsOfUse"
              >{{ copyFooter.termsOfUse }}</a
            >
          </li>
          <li>
            <a class="hover:underline" [routerLink]="AppRouteEnum.Support"
              >{{ copyFooter.support }}</a
            >
          </li>
        </ul>
      </div>
    }
  </div>
</div>
