<div class="container mx-auto max-w-6xl px-4">
  <div class="flex flex-col items-center justify-between gap-3 sm:flex-row">
    <div>© TrollySix. All rights reserved.</div>
    <div class="flex items-center gap-4">
      <a class="hover:text-slate-700 dark:hover:text-slate-200" [routerLink]="[AppRouteEnum.Privacy]">Privacy</a>
      <a class="hover:text-slate-700 dark:hover:text-slate-200" [routerLink]="[AppRouteEnum.Terms]">Terms</a>
      <a class="hover:text-slate-700 dark:hover:text-slate-200" [routerLink]="[AppRouteEnum.SignIn]">Sign In</a>
    </div>
  </div>
</div>
