<figure
  class="h-full rounded-2xl baseline-borders baseline-surface p-5 backdrop-blur hover:-translate-y-0.5 transition"
>
  <figcaption
    class="grid grid-cols-[max-content_1fr] gap-4 h-full max-lg:line-y lg:group-first:line-y"
  >
    <img
      class="aspect-square size-12 lg:size-16 rounded-full outline -outline-offset-1 outline-gray-950/5 dark:outline-white/10"
      [ngSrc]="'/assets/images/testimonials/' + testimonial().avatarUrl"
      width="256"
      height="256"
      [alt]="testimonial().name"
    />
    <div class="text-sm h-full flex flex-col justify-between">
      <p class="text-gray-600 dark:text-gray-400">{{ testimonial().text }}</p>
      <div>
        <app-rating-stars class="mt-3" [rating]="testimonial().rating" />
        <p class="font-medium mt-2">
          — {{ testimonial().name }}, {{ testimonial().place }}
        </p>
      </div>
    </div>
  </figcaption>
</figure>
