<div class="baseline-container py-3">
  <div class="flex items-center justify-between gap-4">
    <div class="flex items-center gap-4">
      <div class="md:hidden">
        <button
          #menuToggleButton
          type="button"
          (click)="toggleMenu()"
          [attr.aria-expanded]="isMenuOpen()"
          [attr.aria-controls]="mobileMenuId"
          aria-haspopup="menu"
          class="inline-flex h-10 w-10 cursor-pointer items-center justify-center rounded-xl bg-white/20 px-2 py-1 text-sm font-medium text-gray-700 shadow-sm transition hover:bg-white/30 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900 dark:bg-gray-900/20 dark:text-gray-100 dark:hover:bg-gray-900/30 dark:focus-visible:outline-white"
        >
          <svg
            icon="burger"
            width="24"
            height="24"
            stroke="currentColor"
            stroke-width="2"
          ></svg>
          <span class="sr-only">{{ copyCommon.openMainMenu }}</span>
        </button>
      </div>

      <a
        [routerLink]="[AppRouteEnum.Home]"
        class="mr-4 flex items-center gap-2 text-2xl font-bold text-slate-900 md:text-2xl dark:text-slate-100"
      >
        <svg
          icon="logo"
          class="size-8"
          stroke="currentColor"
          stroke-width="2"
        ></svg>
        <span class="flex items-center">
          <span>{{ copyCommon.brand.first }}</span
          ><span class="text-blue-700 dark:text-yellow-500">{{
            copyCommon.brand.second
          }}</span>
        </span>
      </a>

      <nav class="hidden md:block">
        <ul class="flex items-center gap-6 text-lg">
          @for (routeItem of navigation; track routeItem.path) {
            <li>
              <a
                class="text-slate-700 underline-offset-8 transition hover:text-slate-900 dark:text-slate-300 dark:hover:text-white"
                [routerLink]="[routeItem.path]"
                [queryParamsHandling]="
                  isLinkActive(routeItem.path) ? 'preserve' : null
                "
                [class.underline]="isLinkActive(routeItem.path)"
                >{{ routeItem.label }}</a
              >
            </li>
          }
        </ul>
      </nav>
    </div>

    <trollysix-header-actions />
  </div>
</div>
<div
  class="h-px w-full bg-linear-to-r from-transparent via-gray-200/80 to-transparent dark:via-gray-700/70"
></div>

@if (isMenuOpen()) {
  <div
    class="sticky top-0 z-50 bg-white/60 backdrop-blur-xl dark:bg-slate-900/50"
  >
    <nav
      [id]="mobileMenuId"
      class="shadow-lg md:hidden"
      [attr.aria-label]="copyCommon.mainMenu"
    >
      <ul class="flex flex-col gap-4 px-6 py-4 text-lg">
        @for (routeItem of navigation; track routeItem.path) {
          <li>
            <a
              (click)="closeMenu()"
              class="block font-semibold text-slate-700 underline-offset-4 transition hover:text-slate-900 dark:text-slate-300 dark:hover:text-white"
              [routerLink]="[routeItem.path]"
              [queryParamsHandling]="
                isLinkActive(routeItem.path) ? 'preserve' : null
              "
              [class.underline]="isLinkActive(routeItem.path)"
              >{{ routeItem.label }}</a
            >
          </li>
        }
      </ul>
    </nav>
  </div>
}
