<div
  class="baseline-borders baseline-surface mt-6 w-full rounded-3xl px-6 py-6"
>
  <div
    class="mb-6 flex items-center gap-2 border-b border-slate-300/40 pb-4 text-base font-semibold text-slate-900 dark:border-white/10 dark:text-white"
  >
    <span>{{ title() }}</span>
    <svg
      [icon]="direction()"
      class="size-6"
      stroke="currentColor"
      stroke-width="2"
    ></svg>
  </div>
  <div class="flex w-full flex-col items-start">
    @for (stop of stops(); track stop.id; let i = $index, last = $last) {
      <trollysix-stops-list-item
        class="block w-full"
        [stopItemData]="stop"
        [itemIndex]="i"
        [isLastItem]="last"
      />
    }
  </div>
</div>
