<div class="flex items-center gap-2">
  <button
    type="button"
    (click)="onPremium()"
    class="baseline-borders inline-flex h-10 w-10 cursor-pointer items-center justify-center rounded-xl bg-white/80 px-2 py-1 text-sm font-medium text-yellow-500 shadow-sm transition hover:bg-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900 dark:bg-gray-900/70 dark:text-yellow-500 dark:hover:bg-gray-900 dark:focus-visible:outline-white"
    [attr.aria-label]="'Get Premium!'"
    [attr.title]="'Get Premium!'"
  >
    <svg
      icon="premium"
      class="size-4"
      stroke="currentColor"
      stroke-width="2"
    ></svg>
    <span class="sr-only">Get Premium!</span>
  </button>
</div>
