@if (vm$ | async; as vm) {
  <section class="container mx-auto max-w-6xl px-4 py-6 md:py-8">
    <div class="mb-4 flex items-center justify-between gap-2">
      <h2 class="text-base font-semibold text-slate-900 dark:text-slate-100">
        Select stop
      </h2>
      <div class="text-s text-slate-500 dark:text-slate-400">
        @if (vm.currentTimetable?.validFrom; as validFrom) {
          <span>Schedule valid from {{ validFrom | date: 'dd.MM.yyyy' }}</span>
        }
      </div>
    </div>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4"
         [class.md:grid-cols-3]="vm.stops.length === 3"
         [class.md:grid-cols-4]="vm.stops.length >= 4"
    >
      @for (stop of vm.stops; track stop.id) {
        @let selected = vm.selectedStop?.id === stop.id;
        <app-stop-card [stop]="stop" [selected]="selected"/>
      }
    </div>
  </section>
}
