<app-masthead />

<app-metrics-covered/>

@defer (on idle) {
  <app-big-claims />
}

@defer (on idle) {
  <app-attention
    [titleTemplate]="worksTitle"
    [descriptionTemplate]="worksDescription"
    [ctaTemplate]="worksCTAs"
  />
  <ng-template #worksTitle>It just works.</ng-template>
  <ng-template #worksDescription>No instructions. No chaos. Open it and see everything you need. Less touching, more control.</ng-template>
  <ng-template #worksCTAs>
    <a
      [routerLink]="['/schedule']"
      appBtn="primary"
      >View Schedule</a
    >
    <a
      [routerLink]="['/about']"
      appBtn="secondary"
      >Why it’s different</a
    >
  </ng-template>
}

@defer (on idle) {
  <app-testimonials/>
}

@defer (on idle) {
  <app-attention
    [titleTemplate]="precisionTitle"
    [descriptionTemplate]="precisionDescription"
  />
  <ng-template #precisionTitle>Designed with the precision</ng-template>
  <ng-template #precisionDescription>Every departure, every arrival — perfectly organized. Because your time deserves nothing less than perfection.</ng-template>
}

@defer (on idle) {
  <app-this-is-trollysix />
}

@defer (on idle) {
  <app-ready-for-route-six />
}

@defer (on idle) {
  <app-value-props />
}
