<div>
  <div class="mb-3 text-base font-medium text-slate-700 dark:text-slate-200">
    {{ dayOperatingData().title }}
  </div>
</div>
<div class="baseline-borders overflow-x-auto rounded-2xl">
  <div
    class="baseline-surface grid min-w-5xl grid-cols-[minmax(14rem,1.3fr)_4.5rem_minmax(14rem,1fr)_repeat(4,minmax(6rem,0.7fr))] grid-rows-[auto_auto_auto]"
  >
    <div
      class="baseline-borders-color col-start-1 row-span-2 row-start-1 rounded-tl-2xl border-r border-b p-3"
    ></div>
    <div
      class="baseline-borders-color col-start-2 row-span-2 row-start-1 flex items-center justify-center border-r border-b p-3 text-center text-sm font-medium"
    >
      <svg
        icon="logo"
        class="size-8"
        stroke="currentColor"
        stroke-width="2"
      ></svg>
    </div>

    <div
      class="baseline-borders-color col-start-3 row-span-2 row-start-1 flex items-center justify-center border-r border-b p-3 text-center text-sm font-medium"
    >
      Operating hours<br />
      (start / end)
    </div>

    <div
      class="baseline-borders-color col-span-4 col-start-4 row-start-1 rounded-tr-2xl border-b p-3 text-center text-sm font-medium"
    >
      Average service interval by hour (minutes)
    </div>

    <div
      class="baseline-borders-color col-start-4 row-start-2 border-r border-b p-3 text-center text-sm"
    >
      7:00 - 10:00
    </div>
    <div
      class="baseline-borders-color col-start-5 row-start-2 border-r border-b p-3 text-center text-sm"
    >
      10:00 - 15:00
    </div>
    <div
      class="baseline-borders-color col-start-6 row-start-2 border-r border-b p-3 text-center text-sm"
    >
      15:00 - 18:00
    </div>
    <div
      class="baseline-borders-color col-start-7 row-start-2 border-b p-3 text-center text-sm"
    >
      18:00 onwards
    </div>

    <div
      class="baseline-borders-color col-start-1 row-start-3 rounded-bl-2xl border-r p-3"
    >
      <div class="font-semibold">Historical Museum</div>
      <div class="font-semibold">Pridniprovsk</div>
    </div>

    <div
      class="baseline-borders-color col-start-2 row-start-3 flex items-center justify-center border-r p-3 text-center font-semibold"
    >
      {{ dayOperatingData().vehiclesQuantity }}
    </div>

    <div
      class="baseline-borders-color col-start-3 row-start-3 border-r p-3 text-center"
    >
      <div class="font-semibold">5:55 / 20:25</div>
      <div class="font-semibold">6:00 / 21:20</div>
    </div>

    @for (cell of intervalCells(); track cell.gridColumnStart) {
      <div
        class="baseline-borders-color flex items-center justify-center p-3 text-center font-semibold"
        [style.grid-column-start]="cell.gridColumnStart"
        [class.border-r.baseline-borders-color]="!cell.isLast"
        [class.rounded-br-2xl]="cell.isLast"
      >
        {{ cell.value }}
      </div>
    }
  </div>
</div>
