<div
  aria-live="assertive"
  aria-atomic="true"
  class="pointer-events-none fixed inset-0 z-50 flex items-end justify-end p-6"
>
  <div class="flex w-full flex-col items-end space-y-3">
    @for (toast of toasts(); track toast.id) {
      <div
        tabindex="0"
        role="button"
        class="pointer-events-auto flex w-full max-w-sm cursor-default items-center gap-1 overflow-hidden rounded-2xl border-l-4 px-4 py-3 shadow-lg shadow-sm backdrop-blur ease-in-out motion-safe:transition motion-safe:duration-300 motion-safe:hover:-translate-y-0.5"
        [ngClass]="{
          'border-red-500/90 bg-red-100/90 text-red-900 hover:bg-red-200/90 dark:border-red-700/90 dark:bg-red-900/90 dark:text-red-100 dark:hover:bg-red-800/90':
            toast.type === 'error',
          'border-blue-500/90 bg-blue-100/90 text-blue-900 hover:bg-blue-200/90 dark:border-blue-700/90 dark:bg-blue-900/90 dark:text-blue-100 dark:hover:bg-blue-800/90':
            toast.type === 'info',
          'border-yellow-500/90 bg-yellow-100/90 text-yellow-900 hover:bg-yellow-200/90 dark:border-yellow-700/90 dark:bg-yellow-900/90 dark:text-yellow-100 dark:hover:bg-yellow-800/90':
            toast.type === 'warning',
          'border-green-500/90 bg-green-100/90 text-green-900 hover:bg-green-200/90 dark:border-green-700/90 dark:bg-green-900/90 dark:text-green-100 dark:hover:bg-green-800/90':
            toast.type === 'success',
        }"
        (click)="dismiss(toast.id)"
      >
        <svg
          icon="info"
          stroke="currentColor"
          stroke-width="2"
          class="mr-2 size-6 flex-shrink-0"
          [ngClass]="{
            'text-red-600': toast.type === 'error',
            'text-blue-600': toast.type === 'info',
            'text-yellow-600': toast.type === 'warning',
            'text-green-600': toast.type === 'success',
          }"
        ></svg>
        <div>
          @if (toast.title) {
            <p class="text-sm font-semibold">
              {{ toast.title }}
            </p>
          }
          <p class="mt-0.5 text-sm">
            {{ toast.message }}
          </p>
        </div>
      </div>
    }
  </div>
</div>
