<trollysix-generic-header [title]="copySchedule.header.title" />
<trollysix-vehicles-tracking />
@if (isSelectorsGroupReady()) {
  <trollysix-selectors-group />
} @else {
  <section class="baseline-container pt-6 md:pt-12">
    <div class="stop-card-placeholder min-h-21"></div>
  </section>
}
<trollysix-stops-list />
@defer (when selectedStop(); prefetch on idle) {
  @if (selectedStop(); as stop) {
    <trollysix-stop-toolbar />
    <trollysix-schedule-controls />
    <trollysix-stop-details [stopData]="stop" />
  }
} @placeholder {
  <section class="baseline-container py-6 md:py-8">
    <div class="min-h-32"></div>
  </section>
}
<trollysix-notice />
