<header class="mb-8 text-center">
  <h1 class="text-3xl font-bold tracking-tight text-slate-900 dark:text-white">
    Sign Up
  </h1>
  <p class="mt-2 text-base text-slate-600 dark:text-slate-400">
    Welcome to Trolly Six
  </p>
</header>

<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="space-y-4">
  <div>
    <label
      for="email"
      class="mb-1 block text-sm font-medium text-slate-700 dark:text-slate-200"
      >Email</label
    >
    <input
      id="email"
      type="email"
      formControlName="email"
      autocomplete="email"
      placeholder="mail@example.com"
      [class.ring-red-500]="
        form.controls.email.touched && form.controls.email.invalid
      "
      class="w-full rounded-xl border-0 bg-white px-3 py-2 text-slate-900 placeholder-slate-400 shadow-sm ring-1 ring-slate-900/10 focus:outline-none focus:ring-2 focus:ring-sky-500 dark:bg-slate-800 dark:text-white dark:placeholder-slate-400 dark:ring-white/10"
    />
    @if (form.controls.email.touched && form.controls.email.invalid) {
    <div class="mt-1 text-xs text-red-600">
      @if (form.controls.email.errors?.['required']) {
      <span>Email is required.</span>
      } @if (form.controls.email.errors?.['email']) {
      <span>Enter a valid email.</span>
      }
    </div>
    }
  </div>

  <div>
    <label
      for="password"
      class="mb-1 block text-sm font-medium text-slate-700 dark:text-slate-200"
      >Password</label
    >
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="••••••••"
      [class.ring-red-500]="
        form.controls.password.touched && form.controls.password.invalid
      "
      class="w-full rounded-xl border-0 bg-white px-3 py-2 text-slate-900 placeholder-slate-400 shadow-sm ring-1 ring-slate-900/10 focus:outline-none focus:ring-2 focus:ring-sky-500 dark:bg-slate-800 dark:text-white dark:placeholder-slate-400 dark:ring-white/10"
    />
    @if (form.controls.password.touched && form.controls.password.invalid) {
    <div class="mt-1 text-xs text-red-600">
      @if (form.controls.password.errors?.['required']) {
      <span>Password is required.</span>
      } @if (form.controls.password.errors?.['minlength']) {
      <span>Minimum 8 characters.</span>
      }
    </div>
    }
  </div>
  <div>
    <label
      for="confirmPassword"
      class="mb-1 block text-sm font-medium text-slate-700 dark:text-slate-200"
      >Confirm Password</label
    >
    <input
      id="confirmPassword"
      type="password"
      formControlName="confirmPassword"
      placeholder="••••••••"
      [class.ring-red-500]="
        form.controls.password.touched && form.controls.password.invalid
      "
      class="w-full rounded-xl border-0 bg-white px-3 py-2 text-slate-900 placeholder-slate-400 shadow-sm ring-1 ring-slate-900/10 focus:outline-none focus:ring-2 focus:ring-sky-500 dark:bg-slate-800 dark:text-white dark:placeholder-slate-400 dark:ring-white/10"
    />
    @if (form.controls.confirmPassword.touched &&
    form.controls.confirmPassword.invalid) {
    <div class="mt-1 text-xs text-red-600">
      @if (form.controls.confirmPassword.errors?.['required']) {
      <span>Confirm password is required.</span>
      } @if (form.controls.confirmPassword.errors?.['minlength']) {
      <span>Minimum 8 characters.</span>
      }
    </div>
    }
  </div>

  <button
    type="submit"
    [disabled]="isSubmitting || form.invalid"
    class="cursor-pointer w-full rounded-xl bg-sky-600 px-4 py-2.5 text-sm font-semibold text-white shadow-sm ring-1 ring-black/10 transition active:scale-[.98] enabled:hover:bg-sky-700 disabled:opacity-60 disabled:pointer-events-none"
  >
    @if (!isSubmitting) {
    <span>Sign in</span>
    } @else {
    <span>Signing in...</span>
    }
  </button>

  <div
    class="flex items-center justify-between text-base text-slate-500 dark:text-slate-400"
  >
    <a
      [routerLink]="['auth', 'sign-in']"
      class="hover:text-slate-700 dark:hover:text-slate-200"
      >Already registered?</a
    >
    <a routerLink="/" class="hover:text-slate-700 dark:hover:text-slate-200"
      >Back to site</a
    >
  </div>
</form>
