<div class="flex items-center gap-2">
  <button
    trollysixIconButton
    [variant]="'default'"
    type="button"
    [attr.aria-pressed]="textSizeService.isLarge()"
    [attr.aria-label]="
      textSizeService.isLarge()
        ? copyCommon.useNormalFontSize
        : copyCommon.useLargeFontSize
    "
    (click)="toggleTextSize()"
  >
    @if (modeSignal() === 'normal') {
      <svg
        icon="a-up"
        class="size-4"
        stroke="currentColor"
        stroke-width="2"
      ></svg>
    } @else {
      <svg
        icon="a-down"
        class="size-4"
        stroke="currentColor"
        stroke-width="2"
      ></svg>
    }

    <span class="sr-only">{{ copyCommon.toggleFontSize }}</span>
  </button>
</div>
