<section class="baseline-container pt-6 md:pt-12">
  <div
    class="baseline-borders baseline-surface rounded-2xl p-4 shadow-md backdrop-blur md:p-4"
  >
    <div
      class="grid grid-flow-col grid-rows-2 items-center gap-4 sm:flex sm:justify-between md:divide-x md:divide-white/10"
    >
      <div class="relative flex w-full sm:w-auto">
        <trollysix-options-selector
          class="block w-full"
          (optionSelect)="onSelectDayType($event)"
          [title]="copySchedule.controlDay"
          [options]="dayTypes()"
          [preselected]="selectedDayTypeName()"
        />
      </div>
      <div class="relative flex w-full sm:w-auto">
        <trollysix-options-selector
          class="block w-full"
          (optionSelect)="onSelectDirection($event)"
          [title]="copySchedule.controlDirection"
          [options]="directions()"
          [preselected]="selectedDirectionName()"
        >
          @if (isUnavailable()) {
            <trollysix-hint-arrow
              slot="footer"
              [direction]="selectedDirectionName()"
            />
          }
        </trollysix-options-selector>
      </div>
      <div class="flex items-center justify-end gap-4 md:px-3">
        <div
          class="transition"
          [ngClass]="{
            'motion-safe:animate-shake-once-delayed animate-none text-blue-700 dark:text-blue-400':
              hasDepartures(),
            'text-slate-400 dark:text-slate-700': !hasDepartures(),
          }"
        >
          <svg
            icon="logo"
            class="size-12"
            stroke="currentColor"
            stroke-width="2"
            aria-hidden="true"
            focusable="false"
          ></svg>
        </div>
      </div>
    </div>
  </div>
</section>
