<section class="baseline-container">
  <div
    class="rounded-2xl baseline-borders baseline-surface p-4 backdrop-blur md:p-4"
  >
    <div
      class="grid grid-flow-col grid-rows-2 gap-4 sm:flex items-center sm:justify-between md:divide-x md:divide-white/10"
    >
      @let isUnavailable =
        (departures$ | async)?.length === 0 && !(vm$ | async)?.timetableLoading;
      @if (vm$ | async; as vm) {
        <div class="relative flex w-full sm:w-auto">
          <app-options-selector
            class="block w-full"
            (optionSelect)="onSelectDayType($event)"
            [title]="'Day'"
            [options]="vm.dayTypes"
            [preselected]="vm.selectedDayTypeName"
          />
        </div>
        <div class="relative flex w-full sm:w-auto">
          <app-options-selector
            class="block w-full"
            (optionSelect)="onSelectDirection($event)"
            [title]="'Direction'"
            [options]="vm.directions"
            [preselected]="(vm$ | async)?.selectedDirectionName"
          >
            @if (isUnavailable) {
              <app-hint-arrow
                slot="footer"
                [direction]="vm.selectedDirectionName"
              />
            }
          </app-options-selector>
        </div>
      }
      <div class="flex justify-end items-center gap-4 md:px-3">
        <div
          class="transition"
          [ngClass]="{
            'text-blue-700 dark:text-blue-800 animate-none motion-safe:animate-shake-once-delayed':
              (departures$ | async)?.length,
            'text-slate-400 dark:text-slate-700': !(departures$ | async)
              ?.length,
          }"
        >
          <svg
            icon="logo"
            width="48"
            height="60"
            stroke="currentColor"
            stroke-width="2"
          ></svg>
        </div>
      </div>
    </div>
  </div>
</section>
