<div class="flex items-center gap-2">
  <button
    trollysixIconButton
    [variant]="'default'"
    [attr.aria-label]="copyCommon.themeLabelPrefix + ' ' + themeSignal()"
    [attr.title]="
      copyCommon.themeLabelPrefix +
      ' ' +
      themeSignal() +
      ' - ' +
      copyCommon.themeToggleHint
    "
    (click)="toggleTheme()"
  >
    @if (themeSignal() === 'light') {
      <svg
        icon="dark"
        class="size-4"
        stroke="currentColor"
        stroke-width="2"
        aria-hidden="true"
      ></svg>
    } @else {
      <svg
        icon="sun"
        class="size-4"
        stroke="currentColor"
        stroke-width="2"
        aria-hidden="true"
      ></svg>
    }
    <span class="sr-only">{{ copyCommon.toggleTheme }}</span>
  </button>
</div>
