<trollysix-generic-section-block
  trollysixRevealOnScroll="600"
  class="relative block"
>
  <div class="prose prose-slate dark:prose-invert w-full">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <div>
        @for (paragraph of splitContent().firstHalf; track paragraph) {
          <p class="text-pretty" [class.mb-2]="!$last">
            {{ paragraph }}
          </p>
        }
      </div>

      <div>
        @for (paragraph of splitContent().secondHalf; track paragraph) {
          <p class="text-pretty" [class.mb-2]="!$last">
            {{ paragraph }}
          </p>
        }
      </div>
    </div>
  </div>
</trollysix-generic-section-block>
