<app-generic-section-block appRevealOnScroll="600" class="relative overflow-hidden">
  <div class="prose prose-slate dark:prose-invert max-w-none">
    <p class="mb-2">
      The route connects the charming residential area of Pridniprovsky,
      locally referred to simply as Pridniprovsk, with the city center.
    </p>
    <p class="mb-2">
      On weekdays, 8 vehicles operate on the route, while on weekends, this
      number is reduced to 4. The route is served by two trolleybus depots,
      with 4 vehicles from each depot on weekdays and 2 from each depot on
      weekends.
    </p>
    <p>
      Due to the specifics of the route, as a portion of it lacks overhead
      contact wires, only a limited number of vehicles capable of autonomous
      operation over long distances can serve this route.
    </p>
  </div>
  <div *appCheatCode="'IDDQD'; timeout: 1500" appRevealOnScroll="600" class="mt-12 rounded-3xl border border-white/10 bg-white/70 p-6 shadow-sm backdrop-blur md:p-8 dark:bg-slate-900/50">
    <div class="relative overflow-hidden mt-2 aspect-[16/10] w-full rounded-xl bg-slate-900/5 ring-1 ring-slate-900/10 dark:bg-white/5 dark:ring-white/10">
      <img ngSrc="assets/images/happy_holidays.webp" alt="Happy Holidays" width="1054" height="703">
    </div>
  </div>
</app-generic-section-block>
