<div>
  <div class="text-base mb-3 font-medium text-slate-700 dark:text-slate-200">
    {{ dayOperatingData().title }}
  </div>
</div>
<div class="overflow-x-auto baseline-borders rounded-2xl">
  <div class="min-w-[840px] grid baseline-surface">
    <div
      class="border-r border-b baseline-borders-color rounded-tl-2xl p-3 row-start-1 col-start-1 row-start-1 row-span-2"
    ></div>
    <div
      class="border-r border-b baseline-borders-color p-3 text-center text-sm font-medium row-start-1 col-start-2 row-span-2 flex items-center justify-center"
    >
      <svg
        icon="logo"
        width="40"
        height="50"
        stroke="currentColor"
        stroke-width="2"
      ></svg>
    </div>

    <div
      class="border-r border-b baseline-borders-color p-3 text-center text-sm font-medium row-start-1 col-start-3 row-span-2 flex items-center justify-center"
    >
      Operating hours<br />
      (start / end)
    </div>

    <div
      class="border-b baseline-borders-color rounded-tr-2xl p-3 text-center text-sm font-medium row-start-1 col-start-4 col-span-4"
    >
      Average service interval by hour (minutes)
    </div>

    <div
      class="border-b border-r baseline-borders-color p-3 text-center text-sm row-start-2 col-start-4"
    >
      7:00 - 10:00
    </div>
    <div
      class="border-b border-r baseline-borders-color p-3 text-center text-sm row-start-2 col-start-5"
    >
      10:00 - 15:00
    </div>
    <div
      class="border-b border-r baseline-borders-color p-3 text-center text-sm row-start-2 col-start-6"
    >
      15:00 - 18:00
    </div>
    <div
      class="border-b baseline-borders-color p-3 text-center text-sm row-start-2 col-start-7"
    >
      18:00 onwards
    </div>

    <div
      class="border-r baseline-borders-color rounded-bl-2xl p-3 row-start-3 col-start-1"
    >
      <div class="font-semibold">Historical Museum</div>
      <div class="font-semibold">Pridniprovsk</div>
    </div>

    <div
      class="border-r baseline-borders-color p-3 text-center font-semibold row-start-3 col-start-2 flex items-center justify-center"
    >
      {{ dayOperatingData().vehiclesQuantity }}
    </div>

    <div
      class="border-r baseline-borders-color p-3 text-center row-start-3 col-start-3"
    >
      <div class="font-semibold">5:55 / 20:25</div>
      <div class="font-semibold">6:00 / 21:20</div>
    </div>

    @for (cell of intervalCells(); track cell.gridColumnStart) {
      <div
        class="p-3 baseline-borders-color text-center font-semibold flex items-center justify-center"
        [style.grid-column-start]="cell.gridColumnStart"
        [class.border-r.baseline-borders-color]="!cell.isLast"
        [class.rounded-br-2xl]="cell.isLast"
      >
        {{ cell.value }}
      </div>
    }
  </div>
</div>
