<div class="md:px-3">
  <div
    class="mb-1 text-xs tracking-wide text-slate-500 uppercase dark:text-slate-400"
  >
    {{ title() }}
  </div>
  <div class="relative">
    <ng-content select="[slot='header']" />
  </div>
  <div
    class="inline-flex w-full overflow-hidden rounded-xl ring-1 ring-slate-900/10 dark:ring-white/10"
  >
    @for (option of options(); track getValue(option)) {
      @let value = getValue(option);
      @let isSelected = value === selected();
      <button
        type="button"
        class="selector relative w-[50%]"
        [disabled]="isDisabled(option)"
        [attr.aria-pressed]="isSelected"
        [class.selector-selected]="isSelected"
        (click)="select(value)"
        (pointerdown)="selectHapticFeedback()"
      >
        <span class="invisible block font-semibold">
          {{ getLabel(option) }}
        </span>
        <span
          class="absolute inset-0 flex items-center justify-center"
          [class.font-semibold]="isSelected"
        >
          {{ getLabel(option) }}
        </span>
      </button>
    }
  </div>
  <div class="relative">
    <ng-content select="[slot='footer']" />
  </div>
</div>
