@if (stop().weather; as weather) {
  <div class="baseline-borders baseline-surface h-full rounded-xl p-3">
    <div class="mb-2 text-base font-medium text-slate-700 dark:text-slate-200">
      Weather
    </div>
    <div
      class="flex items-start gap-3 text-sm text-slate-600 dark:text-slate-300"
    >
      <div
        class="baseline-borders baseline-surface relative h-12 w-12 rounded-xl p-3 text-base"
      >
        <img
          class="h-12 w-12"
          [ngSrc]="weatherIconUrl()"
          [alt]="weather.description"
          fill
        />
      </div>
      <div class="flex flex-col justify-between text-base">
        <div class="flex items-baseline gap-3">
          <span class="text-lg font-semibold text-slate-900 dark:text-white">{{
            weather.temperature | temperature
          }}</span>
          <span
            >Feels like
            <span
              class="text-lg font-semibold text-slate-900 dark:text-white"
              >{{ weather.feelsLike | temperature }}</span
            ></span
          >
        </div>
        <div>
          <span>{{ weather.description | titlecase }}</span>
        </div>
      </div>
    </div>
    <div class="mt-3 flex flex-col gap-0.5 text-slate-600 dark:text-slate-300">
      <div>
        <span
          >Pressure:
          <span class="font-bold">{{ weather.pressure }}</span>
          hPa</span
        >
      </div>
      <div>
        <span
          >Humidity:
          <span class="font-bold">{{ weather.humidity }}%</span></span
        >
      </div>
      <div>
        <span
          >Wind Speed:
          <span class="font-bold">{{
            weather.windSpeed | number: '1.1-2'
          }}</span>
          m/s</span
        >
      </div>
      <div>
        <span
          >Sunrise:
          <span class="font-mono text-blue-700 dark:text-yellow-500">{{
            weather.sunrise | date: 'HH:mm'
          }}</span></span
        >
      </div>
      <div>
        <span
          >Sunset:
          <span class="font-mono text-blue-700 dark:text-yellow-500">{{
            weather.sunset | date: 'HH:mm'
          }}</span></span
        >
      </div>
    </div>
  </div>
}
