@if (mapsUrl(); as url) {
  <a
    class="baseline-borders flex items-center gap-2 rounded-full px-5 py-2 text-xs text-slate-600 ring-1 ring-slate-900/10 transition-colors hover:bg-slate-900/10 hover:text-slate-800 dark:bg-white/5 dark:text-slate-300 dark:ring-white/10 dark:hover:bg-white/10 dark:hover:text-white"
    [href]="url"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Open in Google Maps"
    trollysixTooltip="Open in Google Maps"
    trollysixTooltipPlacement="top"
  >
    <svg
      icon="geo"
      class="size-4"
      stroke="currentColor"
      stroke-width="2"
      aria-hidden="true"
      focusable="false"
    ></svg>
    <span
      >{{ geo()?.lat | number: '1.1-8' }} •
      {{ geo()?.lon | number: '1.1-8' }}</span
    >
  </a>
}
