<section class="baseline-container relative pt-20 pb-10 text-center">
  <h2
    class="mb-6 text-3xl/10 font-bold text-slate-900 md:text-5xl/14 dark:text-white"
  >
    This is not just public transport.<br />This is Trolly<span
      class="text-blue-700 dark:text-yellow-500"
      >Six</span
    >
  </h2>
  <p
    class="mx-auto max-w-2xl text-lg text-slate-600 md:text-xl dark:text-slate-300"
  >
    Experience the future of urban mobility — crafted for the people who demand
    more.
  </p>
</section>
