@if (rating() > 0) {
  @for (kind of starKinds(); track $index) {
    <svg
      [icon]="kind === 'filled' ? 'star-filled' : 'star-empty'"
      stroke-width="2"
      class="transition-opacity size-4"
      [class.text-yellow-500]="kind === 'filled' || kind === 'empty-yellow'"
      [class.dark:text-yellow-400]="
        kind === 'filled' || kind === 'empty-yellow'
      "
      [class.text-slate-300]="kind === 'empty-gray'"
      [class.dark:text-slate-600]="kind === 'empty-gray'"
      [class.opacity-80]="kind === 'empty-yellow'"
    ></svg>
  }
}
