<section class="relative overflow-hidden">
  <div class="absolute inset-0 z-0">
    <img
      ngSrc="/assets/images/masthead_background.webp"
      alt=""
      class="h-full w-full scale-110 object-cover opacity-15 blur-3xl dark:opacity-10"
      height="1024"
      width="1024"
      priority="true"
    />
  </div>

  @if (isWinter$ | async) {
    <trollysix-snow />
  }

  <div
    class="baseline-container relative pt-14 pb-18 text-center md:pt-24 md:pb-24"
  >
    <h1
      class="mx-auto max-w-4xl text-4xl font-extrabold tracking-tight text-slate-900 md:text-6xl dark:text-white"
    >
      <span
        class="cursor-default bg-linear-to-br from-slate-900 via-slate-700 to-slate-900 bg-clip-text text-transparent dark:from-white dark:via-slate-200 dark:to-white"
        >Ultimate Schedule</span
      >
      <span class="block cursor-default">
        <span>for Trolleybus </span>
        <span
          class="motion-safe:animate-shake relative inline-block animate-none before:absolute before:-inset-1 before:block before:-skew-y-3 before:bg-yellow-500"
        >
          <span class="relative pr-1 text-white dark:text-blue-950"
            >Route&nbsp;6</span
          >
        </span>
      </span>
    </h1>

    <p
      class="mx-auto mt-5 max-w-2xl cursor-default text-slate-600 md:text-lg dark:text-slate-300"
    >
      Timetable for trolleybus route in the city of Dnipro.
    </p>

    <div
      trollysixRevealOnScroll="300"
      class="m-8 flex flex-wrap items-center justify-center gap-3 text-blue-800 dark:text-white"
    >
      <svg
        icon="logo"
        class="size-48"
        stroke="currentColor"
        stroke-width="2"
      ></svg>
    </div>

    <div class="mt-8 flex flex-wrap items-center justify-center gap-3">
      <a [routerLink]="[AppRouteEnum.Schedule]" trollysixBtn="primary">{{
        copyCommon.viewSchedule
      }}</a>
      <a [routerLink]="[AppRouteEnum.About]" trollysixBtn="secondary">{{
        copyCommon.learnMore
      }}</a>
    </div>
  </div>
  <div
    class="h-px w-full bg-linear-to-r from-transparent via-gray-200/80 to-transparent dark:via-gray-700/70"
  ></div>
</section>
