@let stop = stopData();
@let vm = vm$ | async;
@if (stop && vm) {
  @let isSelected = selected();
  <button
    type="button"
    class="stop-card h-full w-full"
    [attr.aria-pressed]="isSelected"
    [class]="`stop-card stop-card-${stop.style}`"
    [class.stop-selected]="isSelected"
    (click)="onSelectStop(stop.id, isSelected)"
  >
    <div class="flex items-start justify-between">
      <div>
        <div
          class="flex items-center gap-2 text-sm text-slate-700 dark:text-slate-200"
        >
          <span>{{ copySchedule.stop }}</span>
          <span class="flex items-center">
            @if (stop.availableDirections.includes('forward')) {
              <svg
                icon="forward"
                class="size-4"
                stroke="currentColor"
                stroke-width="2"
              ></svg>
            }
            @if (stop.availableDirections.includes('backward')) {
              <svg
                icon="backward"
                class="size-4"
                stroke="currentColor"
                stroke-width="2"
              ></svg>
            }
          </span>
        </div>
        <div
          class="mt-1 text-lg/6 font-semibold text-slate-900 dark:text-white"
        >
          {{ stop.name }}
        </div>
      </div>
      @if (selected()) {
        <span
          class="absolute top-2 right-2 rounded-full bg-white px-2 py-0.5 text-xs text-black dark:bg-white/10 dark:text-white"
          >{{ copySchedule.stopSelected }}</span
        >
      }
    </div>
    <div
      class="mt-1 line-clamp-2 flex basis-full flex-col items-start justify-end text-sm text-slate-600 dark:text-slate-300"
    >
      @let departure = getDeparture(stop, vm.selectedDirectionName);
      <div
        class="flex items-center gap-2 font-mono text-sm text-slate-800 dark:text-slate-200"
      >
        <svg
          icon="clock"
          class="size-4"
          stroke="currentColor"
          stroke-width="2"
        ></svg>
        @if (departure?.first && departure?.last) {
          <span> {{ departure?.first }} • {{ departure?.last }} </span>
        } @else {
          <span>{{ copySchedule.noDepartures }}</span>
        }
      </div>
    </div>
  </button>
}
