<section class="relative bg-gradient-to-r from-sky-500/10 to-indigo-500/10 dark:from-sky-700/20 dark:to-indigo-700/20 py-20">
  <div class="container mx-auto max-w-6xl px-4 text-center">
    @if (titleTemplate()) {
      <h2 class="text-3xl md:text-5xl font-extrabold text-slate-900 dark:text-white mb-6">
        <ng-container [ngTemplateOutlet]="titleTemplate()"/>
      </h2>
    }
    @if (descriptionTemplate()) {
      <p class="text-lg md:text-xl text-slate-600 dark:text-slate-300 max-w-2xl mx-auto">
        <ng-container [ngTemplateOutlet]="descriptionTemplate()"/>
      </p>
    }
    @if (ctaTemplate()) {
      <div class="mt-8 flex items-center justify-center gap-3">
        <ng-container [ngTemplateOutlet]="ctaTemplate()"/>
      </div>
    }
  </div>
</section>
