<section
  class="relative bg-linear-to-r from-sky-500/10 to-indigo-500/10 py-20 dark:from-sky-700/20 dark:to-indigo-700/20"
>
  <div class="baseline-container text-center">
    @if (titleTemplate()) {
      <h2
        class="mb-6 text-3xl font-extrabold text-slate-900 md:text-5xl dark:text-white"
      >
        <ng-container [ngTemplateOutlet]="titleTemplate()" />
      </h2>
    }
    @if (descriptionTemplate()) {
      <p
        class="mx-auto max-w-2xl text-lg text-slate-600 md:text-xl dark:text-slate-300"
      >
        <ng-container [ngTemplateOutlet]="descriptionTemplate()" />
      </p>
    }
    @if (ctaTemplate()) {
      <div class="mt-8 flex items-center justify-center gap-3">
        <ng-container [ngTemplateOutlet]="ctaTemplate()" />
      </div>
    }
  </div>
</section>
