@import 'tailwindcss';

@import './app/styles/main.css';
@import './app/styles/components/baseline.css';
@import './app/styles/components/stops.css';
@import './app/styles/components/timetable.css';
@import './app/styles/components/toast.css';
@import './app/styles/components/global-message.css';
@import './app/styles/components/api-activity-indicator.css';
@import './app/styles/components/browser-storage-activity-indicator.css';
@import './app/styles/components/dialog.css';
@import './app/styles/components/directives.css';
@import './app/styles/components/decoration.css';
@import './app/styles/animations.css';

@custom-variant dark (&:where(.dark, .dark *, [data-theme="dark"], [data-theme="dark"] *));

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.font-large {
  font-size: 112.5%;
}
